<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwtx.form.persistence.FormDefMapper">
    <select id="getFormDefById" resultType="com.hwtx.form.persistence.FormDefEntity">
        select *
        from form_def
        where id = #{id}
    </select>

    <select id="getFormDefPage" parameterType="com.hwtx.form.domain.query.FormValueQuery"
            resultType="com.hwtx.form.persistence.FormDefEntity">
        select *
        from form_def where status = 1
    </select>

    <select id="getAppFormDefById" resultType="com.hwtx.form.persistence.FormDefEntity">
        select *
        from form_def
        where id = #{id}
    </select>

    <select id="getAppFormDefPage" parameterType="com.hwtx.form.domain.query.FormDefAppQuery"
            resultType="com.hwtx.form.persistence.FormDefEntity">
        select *
        from form_def
    </select>

</mapper>
